<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/reset.css">
    <link rel="stylesheet" href="style.css">
    <script src="../../scripts/profile.js" defer></script>
    <title>Profile</title>
</head>
<body>
    <header id="profile">
        <div id="navProfile">
        </div>
        <ul>
            <li id="home">Home</li>
            <li id="Products">Produtos</li>
            <li id="myProfile">Meu perfil</li>
        </ul>
    </header>
    <footer id="content">
        <div id="menu">
            <h3 id="myData"><img class="white ico" src="../../static/user2.png" alt="person" /> Meus dados</h3>
            <h3 id="myItens"><img class="white ico" src="../../static/coupon2.png" alt="person" /> Meus resgates</h3>
            <h3 id="myPoints"><img class="white ico" src="../../static/diamond2.png" alt="person" /> Minhas jóias</h3>
            <h3 id="close"><img class="white ico" src="../../static/logout2.png" alt="person" /> Sair</h3>
        </div>
        <div id="card">
        </div>
    </footer>
</body>
</html>