<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/reset.css">
    <link rel="stylesheet" href="style.css">
    <script src="../../scripts/home.js" defer></script>
    <title>Home</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div id="navProfile">
            </div>
            <ul>
                <li id="home">Home</li>
                <li id="myProfile">Meu perfil</li>
            </ul>
        </nav>
        <div id="cardHeader">
            <h2>Meu saldo</h2>
            <div id="score">
            </div>
            <div>
                <img src="../../static/19.png" alt="pedra amarela" />
                <img src="../../static/22.png" alt="pedra roxa" />
                <img src="../../static/21.png" alt="pedra azul" />
                <img src="../../static/20.png" alt="pedra verde" />
            </div>
            <h5>
                <img src="../../static/calendario_icone.png" alt="icone calendario" />
                 2° Ciclo de Gestão de Desempenho
            </h5>
            <h6>Vence em: 06 de julho de 2023</h6>
            <div id="search1">
                <div id="search">
                    <img src="../../static/search.png" alt="search" srcset="">
                    <input id="inputSearch" type="text" placeholder="O que você esta buscando?">
                    <div id="search2">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="baner">
        <img src="../../static/Frame 70.png" alt="imagem Guardioens da galaxia" />
    </section>
    <footer>
        <h2>Produtos para você</h2>
        <div id="content">
        </div>
    </footer>
</body>
</html>
