@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Guardians';
    font-weight: normal;
    font-style: normal;
    src: url(../../static/Guardians.ttf);
}

* {
    font-family: 'Sora', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 80px;
}

h2, h4{
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(54, 14, 62, 0.79) 42%, rgba(42, 13, 62, 0.6) 66%), url(../../static/cloud2.png);
    color: white;
    background-size: cover;
    width: 100%;
    border-radius: 0px 0px 32px 32px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav div{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
    font-weight: 600;
}

.nav img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

ul, li{
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
}

#myProfile:hover, #home:hover{
    color: rgb(87, 93, 206);
}

#cardHeader{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
    width: 660px;
}

#score{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DCB6F8;
    gap: 10px;
}

#score h3{
    font-family: 'Guardians';
    font-size: 80px;
}

#cardHeader> div > img{
    width: 64px;
}

#cardHeader h5{
    display: flex;
    align-items: center;
    background-color: #341b46;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
}

#cardHeader h5 img{
    width: 20px;
    padding-right: 10px;
}

#cardHeader h6{
    font-size: 20px;
}

#search1{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: -30px;

}

#search{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0px 7px 30px 0px rgba(187, 192, 205, 0.4);
    background-color: rgb(255, 255, 255);
}

#search2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
}

#buttonPesquisa{
    white-space: nowrap;
    border-radius: 12px;
    color: whitesmoke;
    background-color: #341b46;
    max-width: 100%;
    padding: 20px;
    text-overflow:ellipsis;
}

#buttonPesquisa:hover{
    background-color: #631d95;
}

#search img{
    width: 24px;
    height: 34px;
}

#search input{
    font-size: 20px;
    width: 100%;
    outline: none;
    border: none;
}



#baner{
    width: 80%;
}

#baner img{
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

footer h2{
    font-size: 32px;
    font-weight: 700px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 50px;
}

#card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    box-shadow: 0px 7px 30px 0px rgba(187, 192, 205, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    gap: 10px;
}

#card img{
    width: 270px;
    height: 250px;
}

#card h2{
    font-weight: 600;
    font-size: 14px;
}

#card p{
    font-size: 12px;
    font-weight: 400;
}

#card button{
    color: white;
    background-color: rgba(80, 43, 107, 1);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

@media(max-width:750px){
    #search1{
        width: 90vw;
    }
    #cardHeader{
        width: 100vw;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
}